.footer__container {
    height: 120px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Roboto", sans-serif;
    }
}

.links {
    position: relative;
    z-index: 1;
    display: flex;
    gap: 20px;
}

.links__item {
    width: 40px;
    height: 40px;
    border: 1px white solid;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        cursor: pointer;
        border: 1px rgb(255, 255, 255, 0.8) solid;
    }
}

#light__footer {
    background-color: white;

    .footer__container {
        span {
            color: #051d42;
        }
    }

    .links__item {
        border: 1px #051d42 solid;

        path {
            fill: #051d42;
        }

        &:hover {
            border: 1px rgb(5, 29, 66, 0.8) solid;

            path {
                fill: rgb(5, 29, 66, 0.8);
            }
        }
    }
}