@import "./../../sass/main.scss";

.iservice {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.main {
    background-color: rgb(255, 255, 255, 0.5);
    margin: 90px auto 0;
    max-width: 1200px;
    position: relative;
    min-height: 80vh;
    border-bottom: 1px solid rgba(5, 29, 66, 0.15);
    display: grid;
    grid-template-areas:
        "a b"
        "a b";
    grid-template-columns: 1fr 4fr;
    gap: 20px;
}

.iservice__content__back {
    position: absolute;
    height: 750px;
    width: 1000px;
    top: 0%;
    left: -130px;
    background-image: url("./../../assets/img/png//plane_sheme2.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    opacity: 0.15;
    transform: rotate(-50deg);
}

.iservice__content__back2 {
    position: absolute;
    height: 750px;
    width: 1000px;
    top: 850px;
    left: 650px;
    background-image: url("./../../assets/img/png//plane_sheme2.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    opacity: 0.15;
    transform: rotate(-100deg);
}

.nav {
    grid-area: a;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.4);
    box-shadow: 4px 0px 7px -3px rgb(5, 29, 66, 0.3);

    .nav_container {
        display: flex;
        width: fit-content;
        margin: 20px auto 0px;
        flex-direction: column;
    }

    .nav_container_link {
        @include blue_text();
        margin-bottom: 10px;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        left: 0px;
        position: relative;

        &:hover {
            cursor: pointer;
            color: $blue_text_color_hover;
            left: 5px;
        }

        &:active {
            color: $blue_text_color_active;
        }
    }

}