@import "../../sass/main.scss";

.section {
    @include section();
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px
}

.section__block {
    @include blue_text();
    width: fit-content;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed rgb(216, 216, 216);

    .label__block {
        width: 120px;
        color: gray;
        font-weight: 400;
    }

    .span__block {

        width: fit-content;
    }
}

.limit {
    width: 240px;

    .limit__header {
        @include blue_text();
        text-align: center;
        border-bottom: 2px #051d42 solid;
        margin-bottom: 5px;

    }
}

.section__header {
    @include section__header()
}