.title {
    position: relative;
    background-color: #5e5373;
    border: 1px dashed #ece89d;
    padding: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    width: 100px;

    &:first-child {
        width: 50px;
    }

    span {
        cursor: pointer;
    }
}

.title__wide {
    flex-grow: 2;
}

.title__btn {
    position: absolute;
    border: none;
    border-radius: 2px;
    background-color: #d7d0e4;
    width: 18px;
    height: 18px;
    right: 1px;
    bottom: 1px;
    cursor: pointer;

    img {
        position: relative;
        left: -4px;
        width: 15px;
    }


}

@media screen and (max-width: 1900px) {
    .title {
        font-size: 14px;

        &:first-child {
            width: 50px;
        }
    }
}


@media screen and (max-width: 1600px) {
    .title {
        font-size: 14px;

        &:first-child {
            width: 50px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .title {
        font-size: 12px;

        &:first-child {
            width: 50px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .title {
        font-size: 10px;

        &:first-child {
            width: 50px;
        }
    }
}

@media screen and (max-width: 800px) {
    .title {
        font-size: 10px;

        &:last-child {
            display: none;
        }

        &:first-child {
            display: none;
        }
    }

    .title__wide {
        display: none;
    }
}