@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.section__title {
    margin: 0px 0px 30px;
    font-size: 32px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Roboto", sans-serif;
}

.fleet__wrap {
    margin-top: 30px;
    //border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 30px;
}

.fleet__item {
    display: flex;
    align-items: center;
    gap: 50px;
}

.fleet__item:first-child {
    margin-bottom: 50px;
}

.fleet_title {
    width: 110px;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Roboto", sans-serif;
    padding-left: 50px;
}

.fleet__img {
    img {
        width: 350px;
        position: relative;
        z-index: 1;
    }
}

.params {
    width: 600px;
    display: flex;
    justify-content: space-around;

    span {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
        font-family: "Roboto", sans-serif;
    }
}

.params__disc {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.params__value {
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fleet__dimensions__img {
    margin: 50px auto;
    display: block;
    border-radius: 15px;
    width: 70%;
    opacity: 0.8;
    box-shadow: 0px 0px 7px rgb(255, 255, 255, 0.7);
}

#light__fleet__wrap {
    color: #051d42;
    // border-bottom: 1px solid rgba(5, 29, 66, 0.15);

    .section__title {
        color: #051d42;
    }

    .fleet_title {
        color: #051d42;
    }

    .params__title {
        color: #051d42;
    }

    .params {
        span {
            color: #051d42;
        }
    }
}


@media (max-width: 1200px) {
    .section__title {
        font-size: 32px;
        text-align: center;
    }

    .fleet__item {
        flex-direction: column;
        gap: 20px;
    }

    .fleet__dimensions__img {
        margin: 20px auto;
        width: 100%;
    }
}


@media (max-width: 768px) {
    .section__title {
       margin: 0;
       font-size: 24px;
    }

    .fleet_title {
        font-size: 16px;
        margin-bottom: 0;
        
    }

    .params {
        width: 500px;
    }

}

@media (max-width: 480px) {
    .params {
        width: 375px;

        span {
            font-size: 12px;
            color: rgba(255, 255, 255, 0.8);
            font-family: "Roboto", sans-serif;
        }

    }
}