@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
    width: 100vw;
    background: #051d42;
    max-height: fit-content;
    min-height: 100vh;
}

.main__content {
    position: relative;
    overflow: hidden;
    min-height: 85vh;
    padding-top: 80px;
}

#light__main {
    margin-top: 0;
    background: white;
}

.main__content__back {
    position: absolute;
    height: 750px;
    width: 1000px;
    top: 0%;
    left: -130px;
    background-image: url("./../../assets/img/png//plane_sheme2.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    opacity: 0.15;
    transform: rotate(-50deg);
}

.main__content__back2 {
    position: absolute;
    height: 750px;
    width: 1000px;
    top: 850px;
    left: 650px;
    background-image: url("./../../assets/img/png//plane_sheme2.png");
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 0% 20%;
    opacity: 0.15;
    transform: rotate(-100deg);
}

.content__container {
    margin: 80px auto 0;
    max-width: 1200px;
}

@media (max-width: 1200px) {

    .main__content {
        padding-top: 60px;
    }

}

@media (max-width: 768px) {
    .main__content {
        padding-top: 30px;
    }
}

@media (max-width: 480px) {
    .main__content {
        padding-top: 10px;
    }

}