@import "../../../../sass/main.scss";

.aircraftFile {
    @include dashboard_page ();
}

.aircraftFile__header {
    @include blue_text(26px);
    text-align: center;

}

.aircraftFile__container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 150px;
    gap: 20px;
}

.gears__section,
.limits__section,
.engines__section,
.info__section,
.data__section {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 40px 20px 15px;
    margin-bottom: 10px;
    box-shadow: $box_shadow;
}



.section__block__header {
    font-size: 16px;
    text-align: center;
    margin-top: 0;
    padding: 0;
    font-weight: 600;
}

.section__header {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 10px;
    width: calc(100% - 40px);
}

.section__header.second {
    position: absolute;
    left: auto;
    right: -5px;
    width: 100px;
}

.section__message {
    color: rgb(128, 128, 128, 0.7);
}

.data__section__block {
    @include blue_text();
    width: fit-content;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed rgb(216, 216, 216);

    .label__block {
        font-size: 14px;
        width: 90px;
        color: gray;
        font-weight: 400;
    }

    .span__block {
        font-size: 14px;
        width: fit-content;
    }
}

.info__section__block {
    @include blue_text();
    width: fit-content;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed rgb(216, 216, 216);

    .label__block {
        font-size: 14px;
        width: 190px;
        color: gray;
        font-weight: 400;
    }

    .span__block {
        font-size: 14px;
        width: fit-content;
    }
}

.apu {
    @include blue_text();
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 110px;

    .span__block {
        display: flex;
        justify-content: center;
        font-size: 14px;
        width: 100%;
        border-bottom: 1px dashed rgb(216, 216, 216);
    }
}

.engine {
    @include blue_text();
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;

    .label__block {
        font-size: 14px;
        width: 120px;
        color: gray;
        font-weight: 400;
        border-bottom: 1px dashed rgb(216, 216, 216);
    }

    .span__block {
        display: flex;
        justify-content: center;
        font-size: 14px;
        width: 100%;
        border-bottom: 1px dashed rgb(216, 216, 216);
    }
}

.engines__section {
    // min-height: 40px;
    // position: relative;
    // display: flex;
    // justify-content: space-between;
    // margin-bottom: 10px;
    // box-shadow: $box_shadow;
    // padding: 40px 20px 15px;

    .engines__section__wrap {
        display: flex;
        width: 65%;
        justify-content: space-around;

        .engine {
            flex-grow: 1;
        }

    }

    .engine__header {
        @include blue_text();
        text-align: center;
        border-bottom: 2px #051d42 solid;
        margin-bottom: 5px;
    }

    .engine.title {
        text-align: left;
        width: 130px;
    }
}



.limits__section {
    // min-height: 40px;
    // position: relative;
    // margin-bottom: 10px;
    // box-shadow: $box_shadow;
    // padding: 40px 20px 20px;
    // display: flex;
    // gap: 20px;
    // flex-wrap: wrap;

    .limits__section__wrap {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    .limit {
        @include blue_text();
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 5px;

        .limit__header {
            @include blue_text();
            text-align: center;
            border-bottom: 2px #051d42 solid;
            margin-bottom: 5px;

        }

        .limit__value {
            width: fit-content;
            display: flex;
            flex-direction: column;
        }

        .label__block {
            font-size: 14px;
            width: 120px;
            color: gray;
            font-weight: 400;
            border-bottom: 1px dashed rgb(216, 216, 216);
        }

        .span__block {
            display: flex;
            justify-content: center;
            font-size: 14px;
            border-bottom: 1px dashed rgb(216, 216, 216);
        }
    }

    .engine.title {
        text-align: left;
        width: 130px;
    }

}

.limit__section__block {
    @include blue_text();
    width: fit-content;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: 1px dashed rgb(216, 216, 216);

    .label__block {
        font-size: 14px;
        width: 110px;
        color: gray;
        font-weight: 400;
    }

    .span__block {
        font-size: 14px;
        width: fit-content;
    }
}

.gears__section {
    .gears__section__wrap {
        display: flex;
        justify-content: space-around;
        flex-grow: 1;
    }

    .gear {
        @include blue_text();
        width: fit-content;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-bottom: 5px;

        .gear__header {
            @include blue_text();
            text-align: center;
            border-bottom: 2px #051d42 solid;
            margin-bottom: 5px;

        }

        .gear__value {
            width: fit-content;
            display: flex;
            flex-direction: column;
        }

        .label__block {
            font-size: 14px;
            width: 120px;
            color: gray;
            font-weight: 400;
            border-bottom: 1px dashed rgb(216, 216, 216);
        }

        .span__block {
            display: flex;
            justify-content: center;
            font-size: 14px;
            border-bottom: 1px dashed rgb(216, 216, 216);
        }
    }

    .gear.title {
        text-align: left;
        width: 130px;
    }
}





.widget__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    column-gap: 20px;
    row-gap: 20px;
}

.aircraftFile__container__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;

    button:last-child {
        margin-top: 50px;
    }
}

.aircraftFile__buttons {
    margin-top: 20px;
}

.print__btn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

@media print {
    @page {
        size: A4 portrait;
    }

    .info__container {
        padding: 20px;
    }

    .info__section,
    .data__section {
        margin-bottom: 0px;
    }
}