@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap");

@mixin blue_text ($size: 16px) {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: $blue_text_color;
    font-family: Manrope, sans-serif;
    font-size: $size;
    font-weight: 600;
}

@mixin dashboard_page () {
    grid-area: b;
    box-shadow: -2px 0px 7px -3px rgb(5, 29, 66, 0.3);
    padding: 20px;
}

@mixin section () {
    position: relative;
    padding: 40px 20px 20px;
    min-height: 40px;
    margin-bottom: 20px;
    box-shadow: $box_shadow;
}

@mixin section__header ()  {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 10px;
    color: rgb(128, 128, 128, 0.7);
    width: calc(100% - 40px);
    font-size: 14px;
    font-weight: 400;
}