@import "../../../../../sass/main.scss";

.leg {
    @include dashboard_page();
}

.leg__header {
    @include blue_text(26px);
    text-align: center;
}

.leg__container {
margin-top: 40px;
    .inputs {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }

    .btns {
        margin: 40px auto;
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
}