.request {
    position: relative;
    width: 420px;
    height: 50px;
    box-shadow: -2px 0px 7px -3px rgb(5, 29, 66, 0.3);
    border: #0A2640 2px solid;
    border-radius: 10px;
    padding: 5px 8px;
    transition: all 0.5s ease-in-out;
}

.menu {
    display: none;
    position: absolute;
    left: -2px;
    top: 52px;
    width: 420px;
    height: 50px;
    border: #0A2640 2px solid;
    border-radius: 10px;
    padding: 10px 8px;
    background-color: white;
    border-top: none;
    border-radius: 0 0 10px 10px;
    z-index: 1;
    transition: all 1s ease-in-out;
}

.menu.active {
    display: block;
    z-index: 1;
    height: fit-content;
}

.menu__item {
    margin: 0px 0 20px 0;
}

.request__container {
    margin-bottom: 5px;
    display: flex;
    gap: 10px;
}

.menu__btn {
    position: absolute;
    right: 5px;
    background: none;
    border: none;
     :hover {
        cursor: pointer;
    }
}

.setting__btn {
    position: absolute;
    top: -1px;
    right: 26px;
    background: none;
    border: none;
     :hover {
        cursor: pointer;
        &.setting__btn__img {
            width: 26px;
        }
    }
}

.setting__btn__img {
    width: 25px;
    transition: all 0.3s ease-in-out;
}

.menu__btn__img {
    width: 15px;
}

.request__block {
    width: 190px;
    display: flex;
    align-items: center;
    gap: 5px;
    .request__block__value {
        font-size: 14px;
        flex-grow: 1;
    }
}

.request__block__title {
    font-size: 14px;
    color: grey;
    width: 70px;
}

.request__status {
    display: flex;
    gap: 5px;
}

.status__remark {
    background-color: #beafe0;
    display: block;
    display: flex;
    flex-wrap: wrap;
}

.request__status__value {
    font-size: 14px;
    flex-grow: 1;
    font-weight: 600;
    color: green;
    max-width: 350px;
    white-space: pre-line;
    overflow-wrap: break-word;
    a {
        text-decoration: none;
        color: green;
    }
}

.item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    .item__value {
        margin: 0;
        padding: 1px 2px;
        width: 76px;
        height: 20px;
        overflow: hidden;
        font-size: 14px;
        border: 1px dashed #ece89d;
    }
    .item__value__no,
    .item__value__quantity,
    .item__value__oum {
        width: 40px;
    }
    .item__value__desc {
        flex-grow: 1;
    }
}

.item__title {
    .item__value {
        background-color: #5e5373;
        border: 1px dashed #ece89d;
        padding: 1px 2px;
        color: #fff;
    }
}

.item__value__checkbox {
    width: 18px;
    height: 18px;
}

.menu__buttons {
    margin-top: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
    .menu__buttons__btn {
        width: 100px;
        height: 28px;
        border-radius: 5px;
    }
}

.order__price {
    margin: 20px 0;
    display: flex;
    gap: 20px;
    justify-content: end;
    font-weight: 500;
}

.unit__menu {
    display: none;
    position: absolute;
    width: 150px;
    right: 20px;
    // display: flex;
    flex-direction: column;
    z-index: 2;
    .unit__menu__button {
        height: 24px;
        background-color: #5e5373;
        border: none;
        border-bottom: #ece89d 1px solid;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.8px;
        cursor: pointer;
        &:hover {
            background-color: #423a53;
        }
        &:last-child {
            border-bottom: none;
            background-color: #d5393a;
        }
    }
}

.unit__menu__button.inactive {
    cursor: default;
    &:hover {
        background-color: #5e5373;
    }
    color: grey;
}

.unit__menu__active {
    display: flex;
}