@import '../../../../sass/main.scss';

.legs {
    @include dashboard_page ();
    position: relative;
}

.legs__header {
    @include blue_text(26px);
    text-align: center;
}

.aircraftInfo {
    margin: 20px auto 0px;
    width: 90%;
    display: grid;
    display: flex;
    justify-content: space-between;

    .aircraftInfo__block {
        height: 30px;
        color: #0a2640;
        font-size: 16px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;

        .aircraftInfo__block__title {
            margin-right: 10px;
        }

        .aircraftInfo__block__title {
            width: 40px;
        }
    }
}

.legs__filter {
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 0;

    label {
        margin-right: 8px;
        color: #0a2640;
        font-size: 16px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;
    }

    .value__wrap {
        input {
            width: 125px;
            height: 34px;
        }
    }

    button {
        margin-top: 22px;
    }
}

.legs {
    margin-top: 20px;
}

.leg__title {
    margin: 0 auto;
    padding: 5px 8px 0;
    width: calc(100% - 40px);
    background: #d0e8ff;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5px;
    height: 20px;
    transition: all 0.3s;
}

.leg.active {
    background: #0a2640;
}


.leg__title__value {
    width: 68px;
    color: #0a2640;
    font-size: 12px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.leg__btn {
    height: 20px;
    width: 28px;
    background: none;
    border: none;
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;

        svg {
            fill: rgb(10, 38, 64, 0.6);
        }
    }

    svg {
        fill: rgb(10, 38, 64, 0.4);
    }
}

.edit__btn {
    position: absolute;
    right: -36px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    background-image: url(../../../../assets/img/png/edit-icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: noRepeat;
    transition: all 0.2s;

    &:hover {
        cursor: pointer;
        width: -32px;
        height: 32px;
        right: -36px;
    }
}

.buttons {
    margin: 30px auto 0;
    width: 300px;
    display: flex;
    justify-content: space-between;


}

