@import "../../../../../sass/main.scss";

.report {
    @include dashboard_page ();
}

.report__header {
    @include blue_text(26px);
    text-align: center;
}

.report_setting {
    @include section();
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.report__section {
    @include section();
}

.report_setting__header {
    @include section__header()
}

.report_setting__block {

    input {
        margin-right: 15px;
    }
}

.action {
    background-color: rgba(71, 122, 199, 0.1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 20px;
    align-items: center;

    .action__value {
        width: 65px;
        @include blue_text(10px);
        text-align: center;

    }
}

.aircraftInfo {
    margin: 20px auto 0px;
    width: 90%;
    display: flex;
    justify-content: space-between;

    .aircraftInfo__block {
        width: 160px;
        display: flex;
        height: 30px;
        color: #0a2640;
        font-size: 14px;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 400;

        .aircraftInfo__block__title {
            margin-right: 10px;
            display: block;
            width: 40px;
        }
    }
}

.report__buttons {
    margin: 0 auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

@media print {

    @page {
        size: A4 portrait;
        margin: 20px;
    }
}