.tool {
    padding-top: 20px;
    display: flex;
    margin: 0;
    padding: 0;
}

.tool__title {
    position: relative;
    border: 1px dashed #ece89d;
    padding: 2px;
    color: #5e5373;
    font-size: 14px;
    height: 18px;
    font-weight: 600;
    overflow: hidden;
    flex-basis: 110px;
}

.tool__desc {
    flex-wrap: nowrap;
}

.tool__ata,
.tool__quantity,
.tool__eapack,
.tool__rack,
.tool__shelf {
    flex-basis: 50px;
}

.tool__remarks,
.tool__desc {
    flex-grow: 1;
}

.tool__button {
    position: absolute;
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    right: 28px;
    cursor: pointer;

    img {
        width: 18px;
        transition: 0.3s ease-in-out;

        &:hover {
            width: 19px;
        }
    }
}

.tool__menu {
    display: none;
    position: absolute;
    width: 100px;
    right: 20px;
    // display: flex;
    flex-direction: column;
    z-index: 2;

    .unit__menu__button {
        height: 24px;
        background-color: #5e5373;
        border: none;
        border-bottom: #ece89d 1px solid;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 0.8px;
        cursor: pointer;

        &:hover {
            background-color: #423a53;

        }

        &:last-child {
            border-bottom: none;
            background-color: #d5393a;
        }
    }
}

.tool__menu__active {
    display: flex;
}

// @media screen and (max-width: 1440px) {
//     .unit__title {
//         flex-basis: 80px;
//         font-size: 12px;
//     }

//     .unit__ata,
//     .unit__quantity,
//     .unit__eapack,
//     .unit__rack,
//     .unit__shelf {
//         flex-basis: 44px;
//     }
// }

// @media screen and (max-width: 1280px) {
//     .unit__title {
//         flex-basis: 60px;
//         font-size: 10px;
//     }

//     .unit__ata,
//     .unit__quantity,
//     .unit__eapack,
//     .unit__rack,
//     .unit__shelf {
//         flex-basis: 38px;
//     }
// }


// @media screen and (max-width: 960px) {
//     .unit__button {
//         width: 16px;
//         height: 16px;
//         right: 26px;
//         cursor: pointer;

//         img {
//             width: 14px;

//             &:hover {
//                 width: 16px;
//             }
//         }
//     }

//     .unit__title {
//         height: 12px;
//         flex-basis: 50px;
//         font-size: 8px;
//     }

//     .unit__ata,
//     .unit__quantity,
//     .unit__eapack,
//     .unit__rack,
//     .unit__shelf {
//         flex-basis: 28px;
//     }
// }

// @media screen and (max-width: 768px) {
//     .unit__title {
//         flex-basis: 50px;
//         font-size: 8px;
//     }

//     .unit__ata,
//     .unit__quantity,
//     .unit__eapack,
//     .unit__rack,
//     .unit__shelf {
//         flex-basis: 28px;
//     }

//     .unit__type, .unit__rack, .unit__sn 
//     .unit__shelf, .unit__lifelimit, .unit__shelflife {
//         display: none;
//     }
// }

// @media screen and (max-width: 480px) {
//     .unit__ata{
//         display: none;
//     }
// }