@import url("https://fonts.googleapis.com/css2?family=Lora&family=Manrope&display=swap");

.signout__container {
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c3d5b;
    height: 100vh;
}

.signout {
    margin: 20px 0;
    border: #0a2640 2px solid;
    background-color: #ffffff;
    border-radius: 25px;
    width: 550px;
    position: relative;
    padding: 20px 0;
}

.signout__avatar {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 5px solid #1c3d5b;
    text-align: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

    .signout__avatar__img {
        width: 130%;
        position: absolute;
        left: -15px;
    }
}

.signout__header {
    text-align: center;
    font-size: 26px;
    margin: 5px 0 15px;
    font-family: Manrope;
    font-weight: 700;
}

.auth__form {
    display: flex;
    flex-wrap: wrap;
}

.auth__form__link {
    position: relative;
    margin: 10px auto;
    height: 65px;
    width: fit-content;

    label {
        margin-left: 20px;
        font-family: Manrope;
        color: #1c3d5b;
    }
}

.auth__form__btns {
    margin: 25px auto 0;
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.auth__message {
    position: absolute;
    width: 240px;
    left: calc(50% - 120px);
    height: 25px;
    top: 172px;
    display: flex;
    font-size: 14px;
    font-family: Manrope;
    justify-content: center;
    align-items: center;
    color: rgb(180, 0, 0);
    border-radius: 24px;
    background-color: rgb(255, 0, 0, 0.1);
    transform: scaleX(1);
}

.enter-active {
    animation: scale 0.5s forwards;
}

@keyframes scale {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@media (max-width: 768px) {
    .signout__container {
        display: block;

    }

    .signout {
        margin: 20px auto;
        width: 350px;
    }
}

@media (max-width: 480px) {
    .signout__container {
        display: block;

    }

    .signout {
        width: 290px;
        padding: 25px 0px;

        margin: 20px auto;
    }

    .signout__header {
        font-size: 24px;
    }
}