@import "../../../../../sass/main.scss";

.section {
    @include section();

}

.section__header {
    @include section__header()
}

.action,
.action__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 20px;
    align-items: center;

    .action__value {
        width: 65px;
        @include blue_text(10px);
        text-align: center;

        &:last-child {
            width: 100px;
            overflow: hidden;
        }
    }
}

.action__title {
    border-bottom: 1px solid rgb(128, 128, 128, 0.7);
}

.section__message {
    color: rgb(128, 128, 128, 0.7);
    display: flex;
    justify-content: center;
}