@import "./../../../../sass/main.scss";

.widget {
    position: relative;
    width: 180px;
    height: 130px;
    background-color: rgb(28, 61, 91, 0.4);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;

    &:hover {
        cursor: pointer;
        background-color: rgb(28, 61, 91, 0.3);

        .widget__plane {
            opacity: 0.6;
        }
    }

}

.widget__plane {
    position: absolute;
    left: calc(50% - 75px);
    top: calc(50% - 65px);
    width: 150px;
    height: 130px;
    opacity: 0.7;
    transition: all 0.3s;

}

.widget__btn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 25px;
    height: 28px;
    position: absolute;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    transition: all 0.3s;
    background-image: url(./../../../../assets/img/png/setting_icon.png);
    background-position: center;
    background-size: cover;
    background-repeat: noRepeat;

    &:hover {
        cursor: pointer;
        width: 27px;
        height: 30px;
        right: 4px;
        top: 4px;
    }
}

.widget__data {
    margin-top: 5px;
}


.widget__data__value {
    @include blue_text(14px);
    color: rgb(255, 254, 254);
    opacity: 1;
    text-align: center;
    position: relative;

}

.widget__data__engines {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
    justify-content: center;
    margin-top: 2px;
}

.engine {
    height: 22px;
    width: 80px;
    display: flex;
    margin-top: 4px;
    align-items: center;

    img {
        position: relative;
        width: 25px;
        opacity: 1;
    }

    span {
        @include blue_text(12px);
        color: rgb(255, 254, 254);
        opacity: 1;
        text-align: center;
        position: relative;
        margin-left: 5px;
    }
}